@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

#plasmo-shadow-container {
  all: initial;
  display: block;
  box-sizing: border-box;
  font-family: "Inter Tight", sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #0a0a0a;
}

#plasmo-shadow-container *,
#lanner-popup-root * {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: currentColor;
}

#plasmo-shadow-container img,
#plasmo-shadow-container svg,
#plasmo-shadow-container video,
#plasmo-shadow-container canvas,
#plasmo-shadow-container audio,
#plasmo-shadow-container iframe,
#plasmo-shadow-container embed,
#plasmo-shadow-container object,
#lanner-popup-root img,
#lanner-popup-root svg,
#lanner-popup-root video,
#lanner-popup-root canvas,
#lanner-popup-root audio,
#lanner-popup-root iframe,
#lanner-popup-root embed,
#lanner-popup-root object {
  display: block;
  vertical-align: middle;
}

#plasmo-shadow-container img,
#plasmo-shadow-container video,
#lanner-popup-root img,
#lanner-popup-root video {
  max-width: 100%;
  height: auto;
}
